<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Open Labs</h1>
        <p>software Libero, cultura libera</p>
      </header>

      <p>Openlabs è un'associazione senza fini di lucro che si pone come obiettivo la promozione di un utilizzo consapevole degli strumenti informatici. L'associazione è attiva nel sostenere la diffusione di software libero e dei concetti etici più generali ad esso legati, che abbracciano anche il campo dei Creative Commons.</p>
      <ul class="actions">
        <li><a href="{{site.baseurl}}/openlabs/chisiamo.html" class="button big">Learn More</a></li>
      </ul>

    </div>
		<!--
		<span class="image object">
			<img src="assets/images/open.jpg" alt="road" style="width:80%; float:right;" />
		</span>-->
		<img class="image object" src="assets/images/open.jpg" alt="road" style="width:40%; float:right;" />
  </section>
