<!-- Scripts -->

<!-- VERSIONE ORIGINALE
  <script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
  <script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
  <!-- [if lte IE 8]><script src="{{ 'assets/js/ie/respond.min.js' | absolute_url }}"></script><![endif]-->
  <!--<script src="{{ 'assets/js/main.js' | absolute_url }}"></script>
-->


<!-- Ho cambiato l'URL degli script altrimenti la sidebar non riesce a gestire l'evento 'click' nella pagina dei post (problema di livelli annidati) -->

<!--
  <script src="{{site.baseurl}}/{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
  <script src="{{site.baseurl}}/{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
  <script src="{{site.baseurl}}/{{ 'assets/js/util.js' | absolute_url }}"></script>
  <script src="{{site.baseurl}}/{{ 'assets/js/main.js' | absolute_url }}"></script>
-->


  <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/skel.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/util.js"></script>
  <script src="{{site.baseurl}}/assets/js/main.js"></script>
